.multi-bg {
  background-image: url('./../../assets/img/planet_full/planet.png'),
    url('./../../assets/img/planet_full/dot.png'),
    url('./../../assets/img/planet_full/dot.png'),
    url('./../../assets/img/planet_full/ellipse6.png'),
    url('./../../assets/img/planet_full/ellipse3.png'),
    url('./../../assets/img/planet_full/ellipse2.png'),
    url('./../../assets/img/planet_full/ellipse1.png'),
    url('./../../assets/img/planet_full/ellipse5.png'),
    url('./../../assets/img/planet_full/ellipse4.png');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center, center, center, center, center, center, center,
    center, center;
}

.pos-abs-coord {
  position: absolute;
  top: -50px;
  right: -210px;
}
