.multi-bg_custom {
  background-image: url('./../../assets/img/planet_full/planet.png'),
    url('./../../assets/img/planet_full/dot.png'),
    url('./../../assets/img/planet_full/dot.png'),
    url('./../../assets/img/planet_full/ellipse6.png'),
    url('./../../assets/img/planet_full/ellipse3.png'),
    url('./../../assets/img/planet_full/ellipse2.png'),
    url('./../../assets/img/planet_full/ellipse1.png'),
    url('./../../assets/img/planet_full/ellipse5.png'),
    url('./../../assets/img/planet_full/ellipse4.png');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center center, 54% 4%, 54% 96%, right center,
    center center, center center, center center, center center, center center;
}

.coord_custom {
  z-index: -1;
  width: 532px;
  height: 532px;
  top: 160px;
  right: -200px;
}
