.multi-bg {
  background-image: url('./../../assets/img/planet.png'),
    url('./../../assets/img/dot.png'), url('./../../assets/img/dot.png'),
    url('./../../assets/img/ellipse6.png'),
    url('./../../assets/img/ellipse3.png'),
    url('./../../assets/img/ellipse2.png'),
    url('./../../assets/img/ellipse1.png'),
    url('./../../assets/img/ellipse5.png'),
    url('./../../assets/img/ellipse4.png');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center, 50% 3.9%, 50% 96.3%, 92% center, center, center,
    center, center, center;
}

.pos-abs-coord {
  position: absolute;
  top: -50px;
  right: -210px;
}
